<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body class="bg-gray-50 min-h-screen flex items-center justify-center">
    <div class="flex flex-col items-center justify-center">
        <h1 class="text-4xl font-bold mb-4 text-gray-800">BOT SYSTEM</h1>
        <form method="POST" class="bg-white p-8 rounded shadow-md w-96">
            {% csrf_token %}
            <h2 class="text-2xl font-bold mb-6 text-center text-gray-600">Login</h2>

            {% if messages %}
                <ul class="mb-4 text-sm text-red-600">
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

            <input type="text" name="nik" placeholder="nik" class="w-full mb-4 px-4 py-2 border rounded" required>
            <input type="password" name="password" placeholder="Password" class="w-full mb-6 px-4 py-2 border rounded" required>
            
            <button type="submit" class="w-full bg-red-800 text-white py-2 rounded hover:bg-red-900 transition">Login</button>
            {% comment %} <p class="mt-4 text-sm text-center">
                Belum punya akun? <a href="{% url 'register' %}" class="text-red-800 font-medium hover:underline">Register</a>
            </p> {% endcomment %}
        </form>
    </div>
</body>
</html>